In [2]:
# Dependencies
import numpy as np
import pandas as pd
import seaborn as sns
import random as rd

import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from matplotlib.figure import Figure
from datetime import datetime

np.random.seed(sum(map(ord, "aesthetics")))

In [3]:
# ORGANIZING THE DATA 1: the first step to obtain the correct data is to convert the file
# companies.csv into a pandas dataframe.

In [4]:
# Read csv file companies into a dataframe 
csv_file = "companies.csv"
companies_df = pd.read_csv(csv_file, encoding="iso-8859-1",
                           parse_dates=["Founded Date","Closed Date","Last Funding Date"])

# Sort dataframe by company's name
companies_df = companies_df.sort_values("Company Name").reset_index(drop=True)

In [5]:
# Display dataframe to verify information
print(len(companies_df.index))
companies_df.head()

8664

,Company Name,Company Name URL,Category Groups,Headquarters Location,Description,Crunchbase Rank,Founded Date,Closed Date,Number of Funding Rounds,Last Funding Date,Last Funding Amount,Last Funding Type,Total Funding Amount,Status
0,#waywire,https://www.crunchbase.com/organization/waywire,"Media and Entertainment, Government and Milita...","New York, New York, United States",#waywire is an online community focused on soc...,"21,987",2012-06-01,NaT,1,2012-06-30,"$1,750,000",Seed,"$1,750,000",Was Acquired
1,*gram Labs,https://www.crunchbase.com/organization/gram-labs,"Science and Engineering, Hardware, Data and An...","New York, New York, United States","GramLabs is a start up, leveraging deep learni...","11,897",2015-08-01,NaT,1,2016-07-27,"$1,000,000",Seed,"$1,000,000",Operating
2,.io,https://www.crunchbase.com/organization/io-rea...,Data and Analytics,"Alexandria, Virginia, United States",.io is a real-time intelligence platform.,"16,844",2015-03-01,NaT,1,2015-10-01,"$1,500,000",Seed,"$1,500,000",Operating
3,/dev/color,https://www.crunchbase.com/organization/dev-color,NaN,"Menlo Park, California, United States",/dev/color is a non-profit organization that a...,"35,003",2015-05-01,NaT,1,2016-08-23,"$120,000",Seed,"$120,000",Operating
4,10 By 10,https://www.crunchbase.com/organization/10-by-10,"Software, Professional Services","San Francisco, California, United States",10by10 builds a marketplace to more quickly ma...,"59,822",2015-01-01,NaT,1,2017-07-01,"$120,000",Seed,"$120,000",Operating

In [6]:
# Display dataframe columns to verify information
companies_df.columns

Index(['Company Name', 'Company Name URL', 'Category Groups',
       'Headquarters Location', 'Description', 'Crunchbase Rank',
       'Founded Date', 'Closed Date', 'Number of Funding Rounds',
       'Last Funding Date', 'Last Funding Amount', 'Last Funding Type',
       'Total Funding Amount', 'Status'],
      dtype='object')

In [7]:
# Reorganizing dataframe with relavante information
companies_df = companies_df[['Company Name','Crunchbase Rank','Founded Date','Closed Date','Total Funding Amount','Status']]
companies_df.head()

,Company Name,Crunchbase Rank,Founded Date,Closed Date,Total Funding Amount,Status
0,#waywire,"21,987",2012-06-01,NaT,"$1,750,000",Was Acquired
1,*gram Labs,"11,897",2015-08-01,NaT,"$1,000,000",Operating
2,.io,"16,844",2015-03-01,NaT,"$1,500,000",Operating
3,/dev/color,"35,003",2015-05-01,NaT,"$120,000",Operating
4,10 By 10,"59,822",2015-01-01,NaT,"$120,000",Operating

In [8]:
# ORGANIZING THE DATA 2: Dataframe companies is missing some important information, 
# such as Crunchbase UUID and companies' homepage. 
# In order to fix this problem, we will gather the info from json.

# In order to fix this problem, we will combine two dataframes - companies and organizations.

In [9]:
# import json
# import requests as req

# # Created my api key for Crunchbase
# url = "https://api.crunchbase.com/v/3/funding-rounds/?user_key=" ### RACHEL ###
# api_key = "8a3efb5b5136f95bff0593ebb94994e3"

# # Build query URL
# query_url = url + api_key

# # Get Crunchbase data
# org_json = req.get(query_url).json()

# # Get the temperature from the response
# print("The Crunchbase API responded with: " + json.dumps(org_json, indent=2) + ".")
# print("org_json keys: ", org_json.keys())
# print(len(org_json))

In [10]:
# #creates a new dataframe that's empty
# fund_df = pd.DataFrame() 
# fund_df["uuid"] = "" ### RACHEL ###
# fund_df["Homepage"] = "" ### RACHEL ###

# index = 0

# # Created my api key for Crunchbase
# url = "https://api.crunchbase.com/v/3/funding-rounds/?user_key=" ### RACHEL ###
# api_key = "8a3efb5b5136f95bff0593ebb94994e3"

# # get 10 pages of org items
# for x in range(1,11):
#     # Build query URL
#     query_url = url + api_key + "&page=" + str(x)
#     # Get Crunchbase data
#     funding_json = req.get(query_url).json()
#     print(query_url)

#     # Loop through a page of items  ### RACHEL ###
#     for i in range(0,len(funding_json["data"]["items"])):
#         # Save the user class info into variables
#         uuid  = funding_json["data"]["items"][i]["uuid"]
#         homepage  = funding_json["data"]["items"][i]["properties"]["homepage"]
        
               
#         ### RACHEL ###
#         fund_df.set_value(index, "uuid", uuid)
#         fund_df.set_value(index, "Homepage", homepage)
#         index += 1

# fund_df.sort_values("uuid")    
# fund_df.head(10)

In [11]:
# funds = fund_df.rename(columns={
#     "uuid": "UUID"   
# })

# funds.head()

In [12]:
# data_set = pd.merge(merged_df, funds,on="UUID")
# data_set.head(10)

In [13]:
# END OF JSON

In [14]:
# Read csv file organizations into a dataframe and display it
org = "organizations.csv"
org_df = pd.read_csv(org, encoding="iso-8859-1")
org_df.head()

,Unnamed: 0,UUID,Company Name,Homepage
0,352124,ea359946-4db6-5eee-b466-bd0774491e2d,1,http://y.com
1,24310,019602e2-8727-7fc1-af9f-4134dc629ca5,39,http://39inc.com
2,62273,01eb53db-bcee-c57f-3ab1-54fb53f6de65,55,http://www.fifty-five.com
3,231876,c1723121-d8a2-457c-1b81-25fc42e78d95,99,http://www.99taxis.com
4,402099,934bd25a-4b91-9d78-12c3-524c679d3e69,101,http://www.101edu.co/

In [15]:
# To better display and manipulate the data we will eliminate the "-" from the column UUID.
for i, el in enumerate(org_df.iterrows()):
    val = el[1]['UUID'].replace("-", "")
    org_df.set_value(i, "UUID", val)

In [16]:
# Display dataframe columns to verify information    
org_df.head()

,Unnamed: 0,UUID,Company Name,Homepage
0,352124,ea3599464db65eeeb466bd0774491e2d,1,http://y.com
1,24310,019602e287277fc1af9f4134dc629ca5,39,http://39inc.com
2,62273,01eb53dbbceec57f3ab154fb53f6de65,55,http://www.fifty-five.com
3,231876,c1723121d8a2457c1b8125fc42e78d95,99,http://www.99taxis.com
4,402099,934bd25a4b919d7812c3524c679d3e69,101,http://www.101edu.co/

In [17]:
# Merge both dataframes into one and display contents
merged_df = pd.merge(companies_df, org_df,how="inner",on="Company Name")
merged_df.head()

,Company Name,Crunchbase Rank,Founded Date,Closed Date,Total Funding Amount,Status,Unnamed: 0,UUID,Homepage
0,#waywire,"21,987",2012-06-01,NaT,"$1,750,000",Was Acquired,81917,3ca068193ca9ce42ce20f0e150d563a0,http://www.waywire.com
1,*gram Labs,"11,897",2015-08-01,NaT,"$1,000,000",Operating,403731,18e8dd5efe1d5f8ef2edb254171d7f5d,http://www.gramlabs.ai
2,.io,"16,844",2015-03-01,NaT,"$1,500,000",Operating,324450,cf169e68c903c0898789bdd557d6a4c1,https://onthe.io
3,/dev/color,"35,003",2015-05-01,NaT,"$120,000",Operating,328998,165f412c361d7931fd3bcf5e2a1ccef3,http://www.devcolor.org/
4,10 By 10,"59,822",2015-01-01,NaT,"$120,000",Operating,496623,e1670a304ff5893d0ae3ceb761e1c251,https://www.10by10.io/

In [18]:
# Display dataframe columns to verify information
merged_df.columns

Index(['Company Name', 'Crunchbase Rank', 'Founded Date', 'Closed Date',
       'Total Funding Amount', 'Status', 'Unnamed: 0', 'UUID', 'Homepage'],
      dtype='object')

In [19]:
# Reorganizing dataframe with relavante information
merged_df = merged_df[['Company Name','UUID','Homepage','Crunchbase Rank','Founded Date','Closed Date','Total Funding Amount','Status']]
merged_df.head()

,Company Name,UUID,Homepage,Crunchbase Rank,Founded Date,Closed Date,Total Funding Amount,Status
0,#waywire,3ca068193ca9ce42ce20f0e150d563a0,http://www.waywire.com,"21,987",2012-06-01,NaT,"$1,750,000",Was Acquired
1,*gram Labs,18e8dd5efe1d5f8ef2edb254171d7f5d,http://www.gramlabs.ai,"11,897",2015-08-01,NaT,"$1,000,000",Operating
2,.io,cf169e68c903c0898789bdd557d6a4c1,https://onthe.io,"16,844",2015-03-01,NaT,"$1,500,000",Operating
3,/dev/color,165f412c361d7931fd3bcf5e2a1ccef3,http://www.devcolor.org/,"35,003",2015-05-01,NaT,"$120,000",Operating
4,10 By 10,e1670a304ff5893d0ae3ceb761e1c251,https://www.10by10.io/,"59,822",2015-01-01,NaT,"$120,000",Operating

In [20]:
# ORGANIZING THE DATA 3: We now are going to combine another dataframe: funding_rounds. 
# After that we should have all of our data ready to be use.

In [21]:
# Read csv file companies into a dataframe 
csv_file = "funding_rounds.csv"
funds_df = pd.read_csv(csv_file, encoding="iso-8859-1",
                           parse_dates=["Announced On Date"])

# Sort dataframe by company's name
funds_df = funds_df.sort_values("Company Name").reset_index(drop=True)

# Display dataframe to verify information
print(len(funds_df.index))
funds_df.head()

10901

,Company Name,Company Name URL,Funding Type,Money Raised,Announced On Date
0,#waywire,https://www.crunchbase.com/organization/waywire,Seed,"$1,750,000",2012-06-30
1,*gram Labs,https://www.crunchbase.com/organization/gram-labs,Seed,"$1,000,000",2016-07-27
2,.io,https://www.crunchbase.com/organization/io-rea...,Seed,"$1,500,000",2015-10-01
3,/dev/color,https://www.crunchbase.com/organization/dev-color,Seed,"$120,000",2016-08-23
4,10 By 10,https://www.crunchbase.com/organization/10-by-10,Seed,"$120,000",2017-07-01

In [22]:
# Merge both dataframes into one and display contents
all_data_df = pd.merge(merged_df, funds_df,how="inner",on="Company Name")
all_data_df.head(100)

,Company Name,UUID,Homepage,Crunchbase Rank,Founded Date,Closed Date,Total Funding Amount,Status,Company Name URL,Funding Type,Money Raised,Announced On Date
0,#waywire,3ca068193ca9ce42ce20f0e150d563a0,http://www.waywire.com,"21,987",2012-06-01,NaT,"$1,750,000",Was Acquired,https://www.crunchbase.com/organization/waywire,Seed,"$1,750,000",2012-06-30
1,*gram Labs,18e8dd5efe1d5f8ef2edb254171d7f5d,http://www.gramlabs.ai,"11,897",2015-08-01,NaT,"$1,000,000",Operating,https://www.crunchbase.com/organization/gram-labs,Seed,"$1,000,000",2016-07-27
2,.io,cf169e68c903c0898789bdd557d6a4c1,https://onthe.io,"16,844",2015-03-01,NaT,"$1,500,000",Operating,https://www.crunchbase.com/organization/io-rea...,Seed,"$1,500,000",2015-10-01
3,/dev/color,165f412c361d7931fd3bcf5e2a1ccef3,http://www.devcolor.org/,"35,003",2015-05-01,NaT,"$120,000",Operating,https://www.crunchbase.com/organization/dev-color,Seed,"$120,000",2016-08-23
4,10 By 10,e1670a304ff5893d0ae3ceb761e1c251,https://www.10by10.io/,"59,822",2015-01-01,NaT,"$120,000",Operating,https://www.crunchbase.com/organization/10-by-10,Seed,"$120,000",2017-07-01
5,10-4 Systems,35ca612cf370d2dfe3db63554192f84a,https://www.10-4.com/,"6,618",2012-01-01,NaT,"$13,900,000",Operating,https://www.crunchbase.com/organization/10-4-s...,Series A,"$13,900,000",2016-06-27
6,10X Genomics,cf3b00cfffbf0e4f6427a60e5060de39,http://10xgenomics.com,"3,393",2012-01-01,NaT,"$113,000,000",Operating,https://www.crunchbase.com/organization/10x-ge...,Series B,"$55,000,000",2015-01-12
7,10X Genomics,cf3b00cfffbf0e4f6427a60e5060de39,http://10xgenomics.com,"3,393",2012-01-01,NaT,"$113,000,000",Operating,https://www.crunchbase.com/organization/10x-ge...,Series C,"$55,000,000",2016-03-17
8,10X Genomics,cf3b00cfffbf0e4f6427a60e5060de39,http://10xgenomics.com,"3,393",2012-01-01,NaT,"$113,000,000",Operating,https://www.crunchbase.com/organization/10x-ge...,Series A,"$3,000,000",2012-10-08
9,10sec,79fd01f688736282a9ea27622d0bbdcb,https://10s.ec/,"24,952",2013-07-08,NaT,"$1,600,000",Operating,https://www.crunchbase.com/organization/10sec,Seed,"$1,600,000",2014-05-08
10,12 Labs,74a66ef358d3adec5740ae7794dd6dbd,http://www.getapplause.com/,"26,599",2014-08-01,NaT,"$935,000",Operating,https://www.crunchbase.com/organization/12-labs,Seed,"$935,000",2014-11-26
11,121 Mobile,8d43a7efac3c3977c8d7b62377f1d97a,http://my121mobile.com,"27,952",2012-02-17,NaT,"$4,000,000",Operating,https://www.crunchbase.com/organization/121-mo...,Seed,"$2,200,000",2015-12-18
12,128 Technology,b87dd21c6fbd9c7d43ee3ce97387825e,https://www.128technology.com/,"3,862",2014-07-07,NaT,"$57,499,347",Operating,https://www.crunchbase.com/organization/128-te...,Seed,"$4,000,000",2014-07-07
13,128 Technology,b87dd21c6fbd9c7d43ee3ce97387825e,https://www.128technology.com/,"3,862",2014-07-07,NaT,"$57,499,347",Operating,https://www.crunchbase.com/organization/128-te...,Series A,"$11,999,347",2014-12-04
14,128 Technology,b87dd21c6fbd9c7d43ee3ce97387825e,https://www.128technology.com/,"3,862",2014-07-07,NaT,"$57,499,347",Operating,https://www.crunchbase.com/organization/128-te...,Series B,"$20,000,000",2015-12-08
15,128 Technology,b87dd21c6fbd9c7d43ee3ce97387825e,https://www.128technology.com/,"3,862",2014-07-07,NaT,"$57,499,347",Operating,https://www.crunchbase.com/organization/128-te...,Series C,"$21,500,000",2017-05-31
16,17hats,c852c5d3220d2eb6c78e3c9148430ce4,https://www.17hats.com,"10,633",2014-01-01,NaT,"$5,250,000",Operating,https://www.crunchbase.com/organization/17hats,Series A,"$4,000,000",2015-10-15
17,17hats,c852c5d3220d2eb6c78e3c9148430ce4,https://www.17hats.com,"10,633",2014-01-01,NaT,"$5,250,000",Operating,https://www.crunchbase.com/organization/17hats,Seed,"$1,250,000",2015-02-18
18,18Angles,124f67d66ab7c706a057d195462e1f87,http://www.18angles.com/,"33,279",2015-01-01,NaT,"$500,000",Operating,https://www.crunchbase.com/organization/18angles,Seed,"$500,000",2016-02-01
19,19Labs,e2eb4ab910be49f5db644973cc8cb1c3,http://www.19labs.com/,"26,225",2015-01-01,NaT,"$680,000",Operating,https://www.crunchbase.com/organization/19labs,Seed,"$680,000",2016-09-01
20,1CommMedical,e794e5f90781eca17e6dc48cdbb89911,http://1commmedical.com,"36,581",2013-01-01,NaT,"$2,500,000",Operating,https://www.crunchbase.com/organization/1commm...,Series A,"$2,500,000",2015-04-27
21,1Huddle,51e4aae56ad5e054317b7428bffd0870,http://www.1huddle.co,"11,813",2015-01-01,NaT,"$625,000",Operating,https://www.crunchbase.com/organization/sales-...,Seed,"$500,000",2017-03-15
22,1Huddle,51e4aae56ad5e054317b7428bffd0870,http://www.1huddle.co,"11,813",2015-01-01,NaT,"$625,000",Operating,https://www.crunchbase.com/organization/sales-...,Seed,"$125,000",2015-10-20
23,1UPd,635991c8bbf873f5e5f99e38bb15f97d,http://www.get1upd.com,"56,525",2015-08-12,NaT,"$30,000",Operating,https://www.crunchbase.com/organization/1upd,Seed,"$30,000",2015-09-09
24,2020 On-site Optometry,dfc582c6a7ebb0e0a41d62ab94579c73,http://www.2020onsite.com,"11,428",2013-11-01,NaT,"$7,714,965",Operating,https://www.crunchbase.com/organization/projec...,Series A,"$3,499,965",2015-06-01
25,2020 On-site Optometry,dfc582c6a7ebb0e0a41d62ab94579c73,http://www.2020onsite.com,"11,428",2013-11-01,NaT,"$7,714,965",Operating,https://www.crunchbase.com/organization/projec...,Series A,"$3,000,000",2016-07-11
26,20n,8f609f34526bf914440a129286c65eef,http://20n.com/,"17,955",2013-01-01,NaT,"$2,220,000",Operating,https://www.crunchbase.com/organization/20n,Seed,"$2,100,000",2015-05-01
27,20n,8f609f34526bf914440a129286c65eef,http://20n.com/,"17,955",2013-01-01,NaT,"$2,220,000",Operating,https://www.crunchbase.com/organization/20n,Seed,"$120,000",2014-12-01
28,21 Inc,12e72873b63e349fe24b21ad5ad87d47,https://21.co,"1,607",2013-05-01,NaT,"$121,050,000",Operating,https://www.crunchbase.com/organization/21e6,Series B,"$116,000,000",2015-03-10
29,21 Inc,12e72873b63e349fe24b21ad5ad87d47,https://21.co,"1,607",2013-05-01,NaT,"$121,050,000",Operating,https://www.crunchbase.com/organization/21e6,Series A,"$5,050,000",2013-11-17
...,...,...,...,...,...,...,...,...,...,...,...,...
70,7Park Data,9019e4374d09adf10e60a15e136521ab,http://7parkdata.com,"10,347",2012-01-01,NaT,"$3,000,000",Operating,https://www.crunchbase.com/organization/7park-...,Series A,"$3,000,000",2015-08-26
71,7pm anywhere,66123815417876c0e5b066c3f2c86660,http://7pmanywhere.com,"54,315",2012-01-01,NaT,"$50,000",Operating,https://www.crunchbase.com/organization/7pm-an...,Seed,"$50,000",2013-04-03
72,8 Inc.,26690ae2759092a908e9b2da6b2e6800,https://the8app.com,"18,475",2013-03-01,NaT,"$4,500,000",Operating,https://www.crunchbase.com/organization/8-inc,Seed,"$1,400,000",2013-07-01
73,8 Inc.,26690ae2759092a908e9b2da6b2e6800,https://the8app.com,"18,475",2013-03-01,NaT,"$4,500,000",Operating,https://www.crunchbase.com/organization/8-inc,Seed,"$3,100,000",2014-08-01
74,800 Digital Agency,619a9863be7222834dcaf692be44ce14,https://800.digital/,"55,079",2013-08-29,NaT,"$100,000",Operating,https://www.crunchbase.com/organization/dadajo...,Seed,"$100,000",2014-01-24
75,800razors,780b9eb9cba97e56b53ffc7d202e38eb,http://www.800razors.com,"46,969",2012-01-01,NaT,"$100,000",Was Acquired,https://www.crunchbase.com/organization/800razors,Series A,"$100,000",2013-02-19
76,818 Sports & Entertainment,4b8f4fbcd911148526a59ad75d12dcea,http://www.818se.com/,"23,576",2012-01-01,NaT,"$27,000,000",Operating,https://www.crunchbase.com/organization/818-sp...,Seed,"$2,000,000",2013-03-15
77,818 Sports & Entertainment,4b8f4fbcd911148526a59ad75d12dcea,http://www.818se.com/,"23,576",2012-01-01,NaT,"$27,000,000",Operating,https://www.crunchbase.com/organization/818-sp...,Series A,"$25,000,000",2013-05-30
78,8Stem,a9ad84af157cdd73f22a8c733e778726,http://www.8stem.com/,"27,887",2013-01-01,NaT,"$465,000",Operating,https://www.crunchbase.com/organization/8stem,Seed,"$465,000",2015-06-01
79,908 Devices,9c3b4ae472afb6d63f029c811f56fb40,http://908devices.com,"7,002",2012-01-01,NaT,"$49,300,000",Operating,https://www.crunchbase.com/organization/908-de...,Series D,"$20,000,000",2017-03-15
80,908 Devices,9c3b4ae472afb6d63f029c811f56fb40,http://908devices.com,"7,002",2012-01-01,NaT,"$49,300,000",Operating,https://www.crunchbase.com/organization/908-de...,Series C,"$11,600,000",2015-05-06
81,908 Devices,9c3b4ae472afb6d63f029c811f56fb40,http://908devices.com,"7,002",2012-01-01,NaT,"$49,300,000",Operating,https://www.crunchbase.com/organization/908-de...,Series B,"$7,000,000",2013-08-27
82,908 Devices,9c3b4ae472afb6d63f029c811f56fb40,http://908devices.com,"7,002",2012-01-01,NaT,"$49,300,000",Operating,https://www.crunchbase.com/organization/908-de...,Series A,"$8,100,000",2012-09-05
83,99Gamers,2fcd2e1d549c533bb95b9a3f02b110c4,http://www.99gamers.com,"45,799",2012-06-01,NaT,"$100,000",Operating,https://www.crunchbase.com/organization/99gamers,Seed,"$100,000",2014-11-01
84,A Curated World,cf53f0399797071d71bb20ee9e2a38a9,http://kaymcgowan.com,"56,624",2012-01-01,NaT,"$50,000",Operating,https://www.crunchbase.com/organization/a-cura...,Seed,"$50,000",2012-04-01
85,A ONE C LifeBox,917ff7bb1624da1538a581228945a395,http://www.aoneclifebox.com,"56,736",2016-02-01,NaT,"$100,000",Operating,https://www.crunchbase.com/organization/a-one-...,Seed,"$100,000",2016-02-01
86,A-Net,ca89713a2ba17e7cdc40498a3d888cc4,http://a-net.mobi,"30,308",2015-10-24,NaT,"$500,000",Operating,https://www.crunchbase.com/organization/a-net,Seed,"$500,000",2016-05-20
87,A4C,4d2c12d794f2cc24d33320d4f31d1ce4,http://www.a4c.com,"39,836",2014-01-24,NaT,"$1,000,000",Operating,https://www.crunchbase.com/organization/white-...,Seed,"$1,000,000",2014-01-24
88,A4C,08a9859d775499f81c3a7af0643508a2,http://www.a4c.us,"39,836",2014-01-24,NaT,"$1,000,000",Operating,https://www.crunchbase.com/organization/white-...,Seed,"$1,000,000",2014-01-24
89,"ACAExpress.com, Inc.",a8626ba29158fdbc73871e0c075110a7,http://www.acaexpress.com,"25,646",2014-04-01,NaT,"$1,000,000",Operating,https://www.crunchbase.com/organization/acaexp...,Seed,"$1,000,000",2015-07-01
90,ACME Advanced Materials,46367d480f315fc41d8edc92eda6c09b,http://www.a2-m.com/,"43,700",2013-01-01,NaT,"$450,000",Operating,https://www.crunchbase.com/organization/acme-a...,Seed,"$450,000",2015-09-15
91,ACT.md,76ceb6323f2762919b18b7ea9764156a,http://act.md,"16,131",2012-01-01,NaT,"$8,400,000",Operating,https://www.crunchbase.com/organization/act-md,Series A,"$8,400,000",2015-07-21
92,ACTON,e42b6da9bb6e178a34d27783bfd5c5f9,http://www.actonglobal.com,"8,541",2013-01-01,NaT,"$5,100,000",Operating,https://www.crunchbase.com/organization/acton,Series A,"$2,600,000",2015-05-15
93,ACV Auctions,2de581747aa2dcf34af389f9d0f8eec6,https://www.acvauctions.com/,"4,554",2014-01-01,NaT,"$21,600,000",Operating,https://www.crunchbase.com/organization/acv-au...,Series B,"$5,000,000",2016-09-19
94,ACV Auctions,2de581747aa2dcf34af389f9d0f8eec6,https://www.acvauctions.com/,"4,554",2014-01-01,NaT,"$21,600,000",Operating,https://www.crunchbase.com/organization/acv-au...,Series B,"$15,000,000",2017-03-08
95,ACV Auctions,2de581747aa2dcf34af389f9d0f8eec6,https://www.acvauctions.com/,"4,554",2014-01-01,NaT,"$21,600,000",Operating,https://www.crunchbase.com/organization/acv-au...,Seed,"$1,000,000",2015-08-05
96,ADEXT,9d6e7fe4eca5e9d354690e9b9c13f587,https://adext.com/en,"14,462",2016-01-01,NaT,"$3,000,000",Operating,https://www.crunchbase.com/organization/adext,Seed,"$3,000,000",2016-12-01
97,ADSHIFT,360b3ff456ea726878f6c01978e94f60,https://adshift.com/,"24,726",2013-01-01,NaT,"$650,000",Was Acquired,https://www.crunchbase.com/organization/adshift,Seed,"$650,000",2016-02-23
98,ADVANO,054fb026c081c70b8e56a111a5ce7a33,http://advanotech.com,"6,129",2014-01-01,NaT,"$890,000",Operating,https://www.crunchbase.com/organization/advano,Seed,"$150,000",2016-05-01
99,ADVANO,054fb026c081c70b8e56a111a5ce7a33,http://advanotech.com,"6,129",2014-01-01,NaT,"$890,000",Operating,https://www.crunchbase.com/organization/advano,Seed,"$620,000",2017-03-16

In [23]:
all_data_df.columns

Index(['Company Name', 'UUID', 'Homepage', 'Crunchbase Rank', 'Founded Date',
       'Closed Date', 'Total Funding Amount', 'Status', 'Company Name URL',
       'Funding Type', 'Money Raised', 'Announced On Date'],
      dtype='object')

In [24]:
# Reorganizing dataframe with relavante information
all_data_df = all_data_df[['Company Name', 'UUID', 'Homepage', 'Crunchbase Rank', 'Founded Date',
       'Closed Date', 'Total Funding Amount', 'Status',
       'Funding Type', 'Money Raised', 'Announced On Date']]
all_data_df.head()

,Company Name,UUID,Homepage,Crunchbase Rank,Founded Date,Closed Date,Total Funding Amount,Status,Funding Type,Money Raised,Announced On Date
0,#waywire,3ca068193ca9ce42ce20f0e150d563a0,http://www.waywire.com,"21,987",2012-06-01,NaT,"$1,750,000",Was Acquired,Seed,"$1,750,000",2012-06-30
1,*gram Labs,18e8dd5efe1d5f8ef2edb254171d7f5d,http://www.gramlabs.ai,"11,897",2015-08-01,NaT,"$1,000,000",Operating,Seed,"$1,000,000",2016-07-27
2,.io,cf169e68c903c0898789bdd557d6a4c1,https://onthe.io,"16,844",2015-03-01,NaT,"$1,500,000",Operating,Seed,"$1,500,000",2015-10-01
3,/dev/color,165f412c361d7931fd3bcf5e2a1ccef3,http://www.devcolor.org/,"35,003",2015-05-01,NaT,"$120,000",Operating,Seed,"$120,000",2016-08-23
4,10 By 10,e1670a304ff5893d0ae3ceb761e1c251,https://www.10by10.io/,"59,822",2015-01-01,NaT,"$120,000",Operating,Seed,"$120,000",2017-07-01

In [25]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
all_series = all_data_df.groupby(['Funding Type','Money Raised']) #.sem()["Tumor Volume (mm3)"]

In [26]:
all_series.head()

,Company Name,UUID,Homepage,Crunchbase Rank,Founded Date,Closed Date,Total Funding Amount,Status,Funding Type,Money Raised,Announced On Date
0,#waywire,3ca068193ca9ce42ce20f0e150d563a0,http://www.waywire.com,"21,987",2012-06-01,NaT,"$1,750,000",Was Acquired,Seed,"$1,750,000",2012-06-30
1,*gram Labs,18e8dd5efe1d5f8ef2edb254171d7f5d,http://www.gramlabs.ai,"11,897",2015-08-01,NaT,"$1,000,000",Operating,Seed,"$1,000,000",2016-07-27
2,.io,cf169e68c903c0898789bdd557d6a4c1,https://onthe.io,"16,844",2015-03-01,NaT,"$1,500,000",Operating,Seed,"$1,500,000",2015-10-01
3,/dev/color,165f412c361d7931fd3bcf5e2a1ccef3,http://www.devcolor.org/,"35,003",2015-05-01,NaT,"$120,000",Operating,Seed,"$120,000",2016-08-23
4,10 By 10,e1670a304ff5893d0ae3ceb761e1c251,https://www.10by10.io/,"59,822",2015-01-01,NaT,"$120,000",Operating,Seed,"$120,000",2017-07-01
5,10-4 Systems,35ca612cf370d2dfe3db63554192f84a,https://www.10-4.com/,"6,618",2012-01-01,NaT,"$13,900,000",Operating,Series A,"$13,900,000",2016-06-27
6,10X Genomics,cf3b00cfffbf0e4f6427a60e5060de39,http://10xgenomics.com,"3,393",2012-01-01,NaT,"$113,000,000",Operating,Series B,"$55,000,000",2015-01-12
7,10X Genomics,cf3b00cfffbf0e4f6427a60e5060de39,http://10xgenomics.com,"3,393",2012-01-01,NaT,"$113,000,000",Operating,Series C,"$55,000,000",2016-03-17
8,10X Genomics,cf3b00cfffbf0e4f6427a60e5060de39,http://10xgenomics.com,"3,393",2012-01-01,NaT,"$113,000,000",Operating,Series A,"$3,000,000",2012-10-08
9,10sec,79fd01f688736282a9ea27622d0bbdcb,https://10s.ec/,"24,952",2013-07-08,NaT,"$1,600,000",Operating,Seed,"$1,600,000",2014-05-08
10,12 Labs,74a66ef358d3adec5740ae7794dd6dbd,http://www.getapplause.com/,"26,599",2014-08-01,NaT,"$935,000",Operating,Seed,"$935,000",2014-11-26
11,121 Mobile,8d43a7efac3c3977c8d7b62377f1d97a,http://my121mobile.com,"27,952",2012-02-17,NaT,"$4,000,000",Operating,Seed,"$2,200,000",2015-12-18
12,128 Technology,b87dd21c6fbd9c7d43ee3ce97387825e,https://www.128technology.com/,"3,862",2014-07-07,NaT,"$57,499,347",Operating,Seed,"$4,000,000",2014-07-07
13,128 Technology,b87dd21c6fbd9c7d43ee3ce97387825e,https://www.128technology.com/,"3,862",2014-07-07,NaT,"$57,499,347",Operating,Series A,"$11,999,347",2014-12-04
14,128 Technology,b87dd21c6fbd9c7d43ee3ce97387825e,https://www.128technology.com/,"3,862",2014-07-07,NaT,"$57,499,347",Operating,Series B,"$20,000,000",2015-12-08
15,128 Technology,b87dd21c6fbd9c7d43ee3ce97387825e,https://www.128technology.com/,"3,862",2014-07-07,NaT,"$57,499,347",Operating,Series C,"$21,500,000",2017-05-31
16,17hats,c852c5d3220d2eb6c78e3c9148430ce4,https://www.17hats.com,"10,633",2014-01-01,NaT,"$5,250,000",Operating,Series A,"$4,000,000",2015-10-15
17,17hats,c852c5d3220d2eb6c78e3c9148430ce4,https://www.17hats.com,"10,633",2014-01-01,NaT,"$5,250,000",Operating,Seed,"$1,250,000",2015-02-18
18,18Angles,124f67d66ab7c706a057d195462e1f87,http://www.18angles.com/,"33,279",2015-01-01,NaT,"$500,000",Operating,Seed,"$500,000",2016-02-01
19,19Labs,e2eb4ab910be49f5db644973cc8cb1c3,http://www.19labs.com/,"26,225",2015-01-01,NaT,"$680,000",Operating,Seed,"$680,000",2016-09-01
20,1CommMedical,e794e5f90781eca17e6dc48cdbb89911,http://1commmedical.com,"36,581",2013-01-01,NaT,"$2,500,000",Operating,Series A,"$2,500,000",2015-04-27
21,1Huddle,51e4aae56ad5e054317b7428bffd0870,http://www.1huddle.co,"11,813",2015-01-01,NaT,"$625,000",Operating,Seed,"$500,000",2017-03-15
22,1Huddle,51e4aae56ad5e054317b7428bffd0870,http://www.1huddle.co,"11,813",2015-01-01,NaT,"$625,000",Operating,Seed,"$125,000",2015-10-20
23,1UPd,635991c8bbf873f5e5f99e38bb15f97d,http://www.get1upd.com,"56,525",2015-08-12,NaT,"$30,000",Operating,Seed,"$30,000",2015-09-09
24,2020 On-site Optometry,dfc582c6a7ebb0e0a41d62ab94579c73,http://www.2020onsite.com,"11,428",2013-11-01,NaT,"$7,714,965",Operating,Series A,"$3,499,965",2015-06-01
25,2020 On-site Optometry,dfc582c6a7ebb0e0a41d62ab94579c73,http://www.2020onsite.com,"11,428",2013-11-01,NaT,"$7,714,965",Operating,Series A,"$3,000,000",2016-07-11
26,20n,8f609f34526bf914440a129286c65eef,http://20n.com/,"17,955",2013-01-01,NaT,"$2,220,000",Operating,Seed,"$2,100,000",2015-05-01
27,20n,8f609f34526bf914440a129286c65eef,http://20n.com/,"17,955",2013-01-01,NaT,"$2,220,000",Operating,Seed,"$120,000",2014-12-01
28,21 Inc,12e72873b63e349fe24b21ad5ad87d47,https://21.co,"1,607",2013-05-01,NaT,"$121,050,000",Operating,Series B,"$116,000,000",2015-03-10
29,21 Inc,12e72873b63e349fe24b21ad5ad87d47,https://21.co,"1,607",2013-05-01,NaT,"$121,050,000",Operating,Series A,"$5,050,000",2013-11-17
...,...,...,...,...,...,...,...,...,...,...,...
10116,iExhale,3b9804cfcd37dd5c51fb393332a77d1d,http://www.iexhale.com,"13,547",2015-01-01,NaT,"$1,860,000",Operating,Seed,"$1,860,000",2017-03-09
10117,iFormulary,14a9febe810dbc325867a451c1ce75a7,http://www.fitnessformulary.com,"48,757",2012-01-01,NaT,"$719,000",Operating,Seed,"$719,000",2012-06-01
10119,iGrez LLC,6d68f47929141f9e4b149dcac9888cc1,http://www.igrez.com,"63,621",2012-01-30,NaT,"$3,000",Operating,Seed,"$3,000",2012-01-30
10123,"iSpot.tv, Inc.",3d109928e5db5071eeb0139bc89cde50,http://www.ispot.tv,"47,766",2012-01-01,NaT,"$27,800,000",Operating,Series B,"$21,900,000",2015-05-19
10124,"iSpot.tv, Inc.",3d109928e5db5071eeb0139bc89cde50,http://www.ispot.tv,"47,766",2012-01-01,NaT,"$27,800,000",Operating,Series A,"$5,325,000",2013-10-08
10125,"iSpot.tv, Inc.",3d109928e5db5071eeb0139bc89cde50,http://www.ispot.tv,"47,766",2012-01-01,NaT,"$27,800,000",Operating,Seed,"$575,000",2012-07-11
10128,imobile-Audio,f0ecb4f1cf03402fb7865b62857e6dba,http://www.imobileaudio.com/,"62,166",2012-10-01,NaT,"$21,000",Operating,Seed,"$21,000",2015-01-01
10130,in3Dgallery,01f89333e608b784d502ad15a72679fc,http://www.in3dgallery.com,"51,499",2013-01-01,NaT,"$32,500",Operating,Seed,"$32,500",2013-04-22
10145,letgo,9b8a9e639884c74f6301c46a6c9893dc,http://www.letgo.com,604,2015-01-01,NaT,"$375,000,000",Operating,Series B,"$100,000,000",2016-05-12
10146,letgo,9b8a9e639884c74f6301c46a6c9893dc,http://www.letgo.com,604,2015-01-01,NaT,"$375,000,000",Operating,Series C,"$175,000,000",2017-01-17
10155,mPath,539e50f556ffd5428b81156ce495a73a,http://mpath.com,"19,322",2013-01-01,NaT,"$3,650,000",Operating,Seed,"$3,650,000",2014-01-01
10171,myDocket,a5aa0051205a37c723b9ac1d7a941d1f,http://www.mydocket.com,"24,192",2012-06-01,NaT,"$4,600,000",Operating,Series B,"$1,000,000",2014-06-09
10184,opvizor,bee0520b3efa3b84f540c3b8e8bac657,http://www.opvizor.com,"28,881",2012-01-01,NaT,"$3,839,577",Operating,Series A,"2,000,000",2012-01-01
10190,polljoy,8b0bbfa14071eb5d075244419d5e22da,https://polljoy.com/,"53,562",2013-01-01,NaT,"$41,250",Operating,Seed,"$41,250",2015-08-01
10204,scPharmaceuticals,57c018967a56222df942c4bb9b70cf86,http://scpharma.com/scp,"7,837",2014-01-01,NaT,"$61,600,000",Operating,Series B,"$45,600,000",2017-01-04
10210,sourceeasy,1f5ee60026e1bbccd64577d3ecae38f2,http://sourceeasy.com,"10,650",2013-03-01,NaT,"$5,763,000",Operating,Seed,"$2,655,000",2015-11-24
10211,sourceeasy,1f5ee60026e1bbccd64577d3ecae38f2,http://sourceeasy.com,"10,650",2013-03-01,NaT,"$5,763,000",Operating,Seed,"$1,330,000",2016-08-31
10212,sourceeasy,1f5ee60026e1bbccd64577d3ecae38f2,http://sourceeasy.com,"10,650",2013-03-01,NaT,"$5,763,000",Operating,Seed,"$126,500",2014-04-18
10213,streamOnce,cce632d195d36ed93ecf9358a116c7fe,http://www.streamonce.com,"34,756",2012-07-01,NaT,"$1,360,000",Operating,Seed,"$1,360,000",2012-07-01
10215,stride health,33bf04cd1af862434308bc06354b3706,https://www.stridehealth.com,668,2013-01-01,NaT,"$38,900,000",Operating,Series B,"$23,500,000",2017-08-22
10220,tCell.io,a03dea4407e7928027c406c461322ace,https://www.tcell.io/,"4,002",2014-01-01,NaT,"$9,400,000",Operating,Series A,"$9,400,000",2016-10-12
10224,token,f94639769e43301ecf97515c1b5b9cbb,http://token.io,"11,820",2015-03-01,NaT,"$820,000",Operating,Series A,"$15,700,000",2017-04-24
10225,token,f94639769e43301ecf97515c1b5b9cbb,http://token.io,"11,820",2015-03-01,NaT,"$820,000",Operating,Series A,"$2,800,000",2016-05-10
10227,token,71291b2532a74c1fd386667727ec1a1a,https://www.jointoken.com,"11,820",2015-03-01,NaT,"$820,000",Operating,Series A,"$15,700,000",2017-04-24
10230,token,f94639769e43301ecf97515c1b5b9cbb,http://token.io,"1,341",2015-01-01,NaT,"$18,500,000",Operating,Series A,"$15,700,000",2017-04-24
10233,token,71291b2532a74c1fd386667727ec1a1a,https://www.jointoken.com,"1,341",2015-01-01,NaT,"$18,500,000",Operating,Series A,"$15,700,000",2017-04-24
10252,uniRow Inc,f4e4497007e119ea25f4348a958e0101,https://www.trainingcloud.com,"33,286",2013-06-15,NaT,"$1,214,471",Operating,Seed,"$214,471",2014-05-06
10263,wrkbench.io,a172e6979eb2a494ec8f3ba6fed91735,http://wrkbench.io,"36,453",2013-01-01,NaT,"$1,035,000",Operating,Seed,"$975,000",2015-03-12
10269,xiQ,24e589a2b092e867467129fa8dfb7029,http://www.xiq.ai,"20,694",2013-09-01,NaT,"$725,000",Operating,Seed,"$725,000",2014-11-18
10273,zEconomy,e33b075af561ea0e1c39db72804500f2,http://www.zeconomy.com/,"30,111",2013-01-01,NaT,"$1,550,000",Operating,Seed,"$1,550,000",2014-06-18